*{
    margin: 0;
    padding: 0;
}
.top {
    height: 90px;
    width: auto;
}
.container{
    width: auto;
    height: 900px;
}
.nav-bar {
    width: auto;
    height: 90px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.black-box {
    width: auto;
    height: 400px;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    padding: 20px;
}
.col-1 {
    width: 400px;
    margin-left: 40px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    position: relative;
    left: 25px;
}
.col-2 {
    width: 600px;
    margin-left: 100px;
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
    padding: 10px;
    position: relative;
    left: 60px;
}
.black-keys {
    width: 150px;
    height: 200px;
    border: solid 1px black;
    background-color: black;
    border-radius: 15%;
    z-index: 2;
}
.white-box {
    width: auto;
    height: 600px;
    margin-top: -150px;
    display: flex;
    padding: 20px;
}
.white-keys {
    width: 180px;
    height: 250px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-image: initial;
    margin: 3px;
    border-radius: 15%;
    z-index: 1;
}